.message-container {
    padding: 20px;
}

.message-container ul li a {
    text-decoration: none;
    /* 去除下划线 */
    color: inherit;
    /* 使用父元素的文字颜色 */
    cursor: pointer;
    /* 显示为手指图标 */
    outline: none;
    /*去除点击时的轮廓线 */
}

.message-container>ul>li {
    margin-bottom: 5px;
}

.message-container>ul>li:hover {
    color: red;
    font-weight: bolder;
}

.message-container button {
    margin: 10px;
}