.item {
    border: 1px solid rgba(128, 128, 128, 0.486);
    padding: 5px;
}

.item label {
    display: flex;
    /* justify-content: space-between; */
}

.item .flex-right {
    display: none;
    margin-left: auto;
    border-radius: 5px;
    border: 1px solid grey;
    background-color: tomato;
    color: white;
}

.item:hover {
    background-color: #DDDDDD;
}